.ToReadContainer {
    overflow: auto;
    padding: 80px 20px 20px 20px;
    margin: 25px;
    text-align: center;
    min-height: calc(100% - 150px);
}

.ToReadTitle {
    text-align: center
}

.Loading {
    text-align: center
}

.MoreBooks {
    text-align: center
}

.AddNewBookButton {
    margin: 0 10px 0 10px;
    background-color: rgb(215, 213, 222);
    color: rgb(28, 3, 105);
    font-size: 14px;
    border-width: 1px;
    border-radius: 5px;
    padding: 3px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

@media (max-width: 767px) {
    .AddNewBookButton {
        font-size: 12px;
        height: 20px;
        width: auto;
    }
}