.NotFound {
    background: url('../../img/404.svg') center no-repeat;

    padding-top: 100px;
    width: auto;
    overflow: hidden;
    min-height: calc(100% - 150px);
}

.Error {
    font-size: 50px;
    text-align: center;
    color: rgb(116, 95, 139);
    margin-top: 75px;
}

@media (max-width: 767px) {
    .Error {
        font-size: 35px;
    }
}