.ListItem {
    padding: 5px;
    margin: 3px;
    text-align: center;
    /* color: rgb(76, 6, 155); */
}

.todoTitle,
.todoDate {
    padding: 10px;
}

.todoDate {
    font-size: 15px;
}

.RemoveButton {
    width: auto;

}