.ReadListItem {
    position: relative;
    display: flex;
    padding: 2px;
    margin: 3px;
    background-color: rgba(0, 0, 0, .02);
    width: 90%;
    align-items: center;
    height: 50px;
    text-decoration: none;
    border-radius: .3em;
    text-align: left;
}

.ReadListItem span {
    margin-right: 10px
}


.BookName {
    flex-basis: 55%;
    text-align: left;
}

.BookAuthor {
    flex-basis: 35%;
    text-align: left;
}

@media (min-width: 768px) and (max-width: 991px) {
    .ReadListItem {
        width: 95%;
    }
}

@media (max-width: 767px) {
    .ReadListItem {
        display: grid;
        grid-auto-flow: dense;
        grid-template-columns: 55% 30% 15%;
        height: 100px;
        width: 100%;
    }
}