.ListItem {
    position: relative;
    display: flex;
    padding: 2px;
    margin: 3px;
    background-color: rgba(0, 0, 0, .02);
    width: 75%;
    align-items: center;
    justify-items: center;
    height: 50px;
    text-decoration: none;
    border-radius: .3em;
    text-align: left;
}

.ListItem span {
    margin-right: 10px
}

.TodoTitle {
    flex-grow: 1;
}

.TodoDate {
    font-size: 12px;
}

@media (min-width: 768px) and (max-width: 991px) {
    .ListItem {
        width: 95%;
    }
}

@media (max-width: 767px) {
    .ListItem {
        display: grid;
        grid-auto-flow: dense;
        grid-template-columns: 50% 20% 30%;
        height: 100px;
        width: 100%;
    }
}