.NavBar {
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, .01);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .01);
    backdrop-filter: blur(8px);
    font-size: 20px;
    top: 0;
    margin-top: 0;
    height: 35px;
    width: 100%;
    position: fixed;
    justify-content: flex-end;

}

.NavBar a {
    text-decoration: none;
    padding: 0 10px;
}



@media (max-width: 767px) {
    .MobileMenu svg {
        fill: rgb(77, 55, 103);
        align-items: end;
        margin: 20px;
        padding-top: 20px;

    }

    .MobileMenuLinks {
        overflow: hidden;
        right: 0;
        justify-content: flex-end;
        margin: 5px;
        padding: 5px;
        margin-top: 20px;
        padding-top: 20px;
        list-style: none;
    }

}