.NavBar {
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, .01);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .01);
    backdrop-filter: blur(8px);
    font-size: 20px;
    top: 0;
    margin-top: 0;
    width: 100%;
    position: fixed;
    justify-content: space-between;
    z-index: 1;

}

.NavBar a {
    text-decoration: none;
    padding: 0 10px;
    top: 10px;
    color: inherit;
}

.Logo {
    flex-grow: 1;
    cursor: pointer;
}

.Logo svg {
    height: 100px;
}

.MobileMenu svg {
    fill: rgb(125, 85, 175);
    align-items: end;
    margin: 20px;
    padding-top: 20px;

}

.MobileMenuLinks {
    font-size: 12px;
    text-align: center;
    overflow: hidden;
    margin: 5px;
    padding: 5px;
    margin-top: 40px;
    padding-top: 20px;
    list-style: none;
}

@media (max-width: 767px) {
    .Logo svg {
        height: 70px;
        width: auto;
        margin-left: 15px;
    }
}