body {
    background: url('../../img/IMG_4835.jpeg') center/ cover;
}

.TodoTableName {
    padding: 20px;
    margin: 25px;
    text-align: center
}

.Loading {
    text-align: center
}

.GoodJob {
    text-align: center
}